.header {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  &_logo {
    color: $textGlobal;
    letter-spacing: 2.88px;
    font-family: "Six Caps", sans-serif;
    font-size: 2.25rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_links {
    display: flex;
    align-items: center;

    li {
      &:first-child a {
        color: $textGlobalSecundary;
        transition-duration: $transition;

        &:hover {
          color: $textGlobal;
        }
      }

      &:last-child a {
        color: $textGlobal;
        background: rgb(24, 24, 27);
        background: linear-gradient(
          30deg,
          rgba(24, 24, 27, 1) 0%,
          rgba(39, 39, 42, 1) 100%
        );
        transition-duration: $transition;

        &:hover {
          color: $textGlobalSecundary;
        }
      }

      a {
        display: flex;
        align-items: center;
        height: 2rem;
        color: $textGlobal;
        font-size: 0.875rem;
        padding: 0 1.25rem;
      }
    }
  }
}
