@import "variables";
@import "header";
@import "main";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: $background;
  color: $textGlobal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  width: 11rem;
  line-height: 2.5rem;
}

h2 {
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 2.88px;
}

.container {
  // eixo y - eixo x
  // top right bottom left
  margin: 0 auto;
  max-width: 42rem;
}
